<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Gibon | Automatiseer lekker zelf" %>
    <link rel="stylesheet" href="https://assets.clubcollect.com/hitman/1.0.6/hitman.core.min.css"/>
    <script src="https://assets.clubcollect.com/hitman/1.0.6/hitman.core.min.js"></script>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <nav class="navbar navbar-light">
      <%= live_redirect to: Routes.page_path(@conn, :index), class: "navbar-brand", style: "left: 2%;" do %>
        Gibon
      <% end %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= live_redirect to: Routes.devices_path(@conn, :index), class: "nav-link" do %>
            Devices
          <% end %>  
        </li>
      </ul>
    </nav>
    <br>
    <%= @inner_content %>
  </body>
</html>
