@import '~bootstrap/scss/bootstrap.scss';

// Variables

$base-color: #cad2ad;
$darker-base: #8a8c43;
$darker-base-accent: #acaf7a;


// global

body {
  position: relative;
  min-height: 100%;
}

html {
  height: 100%;
  box-sizing: border-box;
}

// Helpers

.top {
  margin-top: 1%;
}

.bottom {
  height: 80px;
}

.text-center {
  text-align: center;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

// Header and footer

.navbar {
  background-color: $base-color;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $base-color;
  text-align: center;
}

// Jumbotron

.jumbo-background {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// Buttons

.btn-light {
  border: none;
  background-color: $darker-base;
}

.btn-light:hover {
  border: none;
  background-color: $darker-base-accent;
}

.btn-light:focus {
  border: none;
  background-color: $darker-base;
}

// Device

.devicebox {
  padding:10px;
  margin-bottom:10px;
  background-color: $base-color;
  border-radius: 10px;
}

.deviceinfo {
  font-weight: bold;
  padding: 5px 0 0 0;
}

.devicetitle {
  font-weight: bold;
  font-size: 1.4em;
}

// Condition

.conditionbox {
  padding:10px;
  margin-bottom:10px;
  background-color: $base-color;
  border-radius: 10px
}

.conditioninfo {
  font-weight: bold;
}

.conditiontitle {
  font-weight: bold;
  font-size: 1.4em;
}

// Forms

.form-control:focus{border-color: $darker-base-accent;  box-shadow: none; -webkit-box-shadow: none;} 

// Console

.console {
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}